* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    background-color: #E8E8E8;
}

header{
    background-color: #4D41C0;
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a,a:hover{
    text-decoration: none;
    color: unset; /*Define que não terá a cor padrão*/
}